body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #2e628e;
  &:hover {
    text-decoration: none;
  }
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .todo-item {
    &.completed {
      color: #737373;
      text-decoration: line-through;
    }
  }
}
